<a href="https://colab.research.google.com/github/mvrtvnv/data-science-bootcamp/blob/main/01_wprowadzenie/01_numpy_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello Colab')

Hello Colab

Podstawy

In [ ]:
import numpy as np
np.__version__

'2.0.2'

In [ ]:
print(dir(np))

['False_', 'ScalarType', 'True_', '_CopyMode', '_NoValue', '__NUMPY_SETUP__', '__all__', '__array_api_version__', '__builtins__', '__cached__', '__config__', '__dir__', '__doc__', '__expired_attributes__', '__file__', '__former_attrs__', '__future_scalars__', '__getattr__', '__loader__', '__name__', '__numpy_submodules__', '__package__', '__path__', '__spec__', '__version__', '_core', '_distributor_init', '_expired_attrs_2_0', '_get_promotion_state', '_globals', '_int_extended_msg', '_mat', '_msg', '_no_nep50_warning', '_pyinstaller_hooks_dir', '_pytesttester', '_set_promotion_state', '_specific_msg', '_type_info', '_typing', '_utils', 'abs', 'absolute', 'acos', 'acosh', 'add', 'all', 'allclose', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfortranarray', 'asin', 'asinh', 'asmatrix', 'astype', 'atan', 'atan2', 'atanh', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_count', 'bitwise_invert', 'bitwise_left_shift', 'bitwise_not', 'bitwise_or', 'bitwise_right_shift', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_shapes', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'bytes_', 'c_', 'can_cast', 'cbrt', 'cdouble', 'ceil', 'char', 'character', 'choose', 'clip', 'clongdouble', 'column_stack', 'common_type', 'complex128', 'complex256', 'complex64', 'complexfloating', 'compress', 'concat', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'divide', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'dtypes', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exceptions', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'f2py', 'fabs', 'fft', 'fill_diagonal', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float128', 'float16', 'float32', 'float64', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'frexp', 'from_dlpack', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'inner', 'insert', 'int16', 'int32', 'int64', 'int8', 'int_', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isdtype', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issubdtype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longdouble', 'longlong', 'ma', 'mask_indices', 'matmul', 'matrix', 'matrix_transpose', 'max', 'maximum', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mod', 'modf', 'moveaxis', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'ndarray', 'ndenumerate', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'number', 'object_', 'ogrid', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'permute_dims', 'pi', 'piecewise', 'place', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'pow', 'power', 'printoptions', 'prod', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'row_stack', 's_', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctypeDict', 'searchsorted', 'select', 'set_printoptions', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'show_runtime', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'sinh', 'size', 'sort', 'sort_complex', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str_', 'strings', 'subtract', 'sum', 'swapaxes', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'transpose', 'trapezoid', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typecodes', 'typename', 'typing', 'ubyte', 'ufunc', 'uint', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulong', 'ulonglong', 'union1d', 'unique', 'unique_all', 'unique_counts', 'unique_inverse', 'unique_values', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vecdot', 'vectorize', 'void', 'vsplit', 'vstack', 'where', 'zeros', 'zeros_like']

In [ ]:
help(np.array)

Help on built-in function array in module numpy:

array(...)
    array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
          like=None)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        ``__array__`` method returns an array, or any (nested) sequence.
        If object is a scalar, a 0-dimensional array containing object is
        returned.
    dtype : data-type, optional
        The desired data-type for the array. If not given, NumPy will try to use
        a default ``dtype`` that can represent the values (by applying promotion
        rules when necessary.)
    copy : bool, optional
        If ``True`` (default), then the array data is copied. If ``None``,
        a copy will only be made if ``__array__`` returns a copy, if obj is
        a nested sequence, or if a copy is needed to satisfy any of the other
        requirements (``dtype``, ``order``, etc.). Note that any copy of
        the data is shallow, i.e., for arrays with object dtype, the new
        array will point to the same objects. See Examples for `ndarray.copy`.
        For ``False`` it raises a ``ValueError`` if a copy cannot be avoided.
        Default: ``True``.
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=None`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for 'A', see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be prepended to the shape as
        needed to meet this requirement.
    like : array_like, optional
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    zeros_like : Return an array of zeros with shape and type of input.
    full_like : Return a new array with shape of input filled with value.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.
    copy: Return an array copy of the given object.


    Notes
    -----
    When order is 'A' and ``object`` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.asmatrix('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.asmatrix('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

In [ ]:
x= np.array([1,3])
x

array([1, 3])

In [ ]:
print(x)

[1 3]

In [ ]:
type(x)

numpy.ndarray

In [ ]:
x.ndim

1

In [ ]:
x.shape

(2,)

In [ ]:
x.size

2

In [ ]:
x.dtype

dtype('int64')

In [ ]:
x= np.array([1.3, 2.3, 1.4])
print(x)

[1.3 2.3 1.4]

In [ ]:
x.dtype

dtype('float64')

In [ ]:
x = np.array([[1,2],[-3,1]])
x

array([[ 1,  2],
       [-3,  1]])

In [ ]:
x.ndim

2

In [ ]:
x.shape

(2, 2)

In [ ]:
x = np.array([[1,2,4],[4,2,1]])
print(x)

[[1 2 4]
 [4 2 1]]

In [ ]:
x.shape

(2, 3)

In [ ]:
x = np.array(
    [[[4, 3, 1],
      [3, 1, 2]],

     [[4, 1, 2],
      [4, 2, 1]]]
    )
x

array([[[4, 3, 1],
        [3, 1, 2]],

       [[4, 1, 2],
        [4, 2, 1]]])

x.ndim poniżej inforumje o tym, że mamy trzy wymiary

In [ ]:
x.ndim

3

x.shape poniżej informuje o tym, że mamy dwie tablice, dwa wiersze i trzy kolumny

In [ ]:
x.shape

(2, 2, 3)

TYPY DANYCH

In [ ]:
A = np.array([1, 2 , 3])
A.dtype

dtype('int64')

In [ ]:
A = np.array([1, 2.3, 3.3], dtype='float')
A.dtype

dtype('float64')

dodatkowy parametr, który możemy umieścić w funkcji array jest dtype - przykład powyżej

In [ ]:
A = np.array([1 ,2, 3], dtype='complex')
A.dtype

dtype('complex128')

In [ ]:
A

array([1.+0.j, 2.+0.j, 3.+0.j])

sprawdzenie jak zadziała funkcja tj. przekazujemy do tabeli dane typu float i przypisujemy typ int
liczby zostaną skonwertowane na liczby całkowite

In [ ]:
A = np.array([1.0, 2.3, 3.3], dtype='int')
A.dtype

dtype('int64')

In [ ]:
A

array([1, 2, 3])

tablica może zawierać również wartości typu bool - prawda/fałsz

In [ ]:
A = np.array([True,False])
A.dtype

dtype('bool')

aby wykorzystać typ danych zawarty w bibliotece numpy zastosować należt zapis jak poniżej np.typ_danych:

In [ ]:
A = np.array([24, 120, 120], dtype=np.int8)
A.dtype

dtype('int8')

In [ ]:
A = np.array([24, 120, 230], dtype=np.uint8)
A.dtype

dtype('uint8')

TWORZENIE TABLIC

wbudowane funkcje do tworzenia bardziej zaawansowanych tablic i automatyzacji tego procesu

1) tablica złożona z dowolnej, określonego przez nas rodzaju tablicy, złożonej z samych zer

In [ ]:
np.zeros(shape=(4,10))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
np.zeros(shape=(4,10), dtype='int')

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

2) funkcja ones działa w ten sam sposób wstawiając wszędzie jedynki

In [ ]:
np.ones(shape=(5,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

domyślne wartości ustawione na float, jeżeli chcemy zmienić typ danych dodoajemy do funkcji parametr dtype

In [ ]:
np.ones(shape=(5,5),dtype='int')

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

3) metoda full pozwoli nam wypełnić tablicę konkretną wartością, którą chcemy ustalić

In [ ]:
np.full(shape=(3,3),fill_value=4,dtype='int')

array([[4, 4, 4],
       [4, 4, 4],
       [4, 4, 4]])

4. funkcja arange pozwala nam wygenerwoac dane w tablicy numpy array

In [ ]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

działa jak wylistowanie zakresy w pythonie

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

funkcja posiada również inne parametry, pozwala zmienić element od którego rozpoczynamy i nak którym kończymy

In [ ]:
np.arange(start=5,stop=10)

array([5, 6, 7, 8, 9])

możemy dodoać również parametr kroku, co ile nastąpi przeskok między kolejnymi liczbami

In [ ]:
np.arange(start=10,stop=100,step=10)

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

krok może być również wartością ujemną - musimy rozpocząć od wartości najwyższej, nastepnie przekazać wartość najniższą i krok jako wartość ujemną

In [ ]:
np.arange(start=100,stop=10,step=-10)

array([100,  90,  80,  70,  60,  50,  40,  30,  20])

krok może zostać przekazany również jako wartość float

In [ ]:
np.arange(start=0,stop=1,step=0.05)

array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 ,
       0.55, 0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95])

5. podobną funkcją będzie linspace, przekazujmey start i stop oraz num, który mówi o liczbie jaką chcemy przekazać z tego przedziału, które są równo rozłożone

In [ ]:
np.linspace(start=-0,stop=1,num=10)

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

powyżej otrzymaliśmy 10 równo rozłożonych liczb z podanego przedziału od 0 do 1

In [ ]:
A = np.arange(15)
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

aby zmienić rozmiar danych skorzystamy z funkcji reshape - iloczyn rozmiarów musi zwracać liczbę przekazanych wcześniej elementów

In [ ]:
A.reshape((3,5))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

możemy też skorzystać z opcji automatycznego dopasowania np. chcemy mieć 3 wiersze, liczba kolumn pozostaje elementem do przeliczenia - w jej miejce wprowadzamy -1

In [ ]:
A.reshape((3,-1))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

działanie w drugą stronę jest również możliwe, chcemy uzyskać 3 kolumny i automatyczną liczbę wierszy, w miejsce pierwszego argumantu funkcji wprowadzamy więc -1

In [ ]:
A.reshape((-1,3))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

PODSTAWOWE OPERACJE NA TABLICACH

In [ ]:
import numpy as np

In [ ]:
A = np.array([3, 1, 4, 2])
B = np.array([3, -1, 3, 2])
print(A)
print(B)

[3 1 4 2]
[ 3 -1  3  2]

In [ ]:
A + B

array([6, 0, 7, 4])

In [ ]:
A - B

array([0, 2, 1, 0])

In [ ]:
A * B

array([ 9, -1, 12,  4])

In [ ]:
A/B

array([ 1.        , -1.        ,  1.33333333,  1.        ])

przy dzieleniu typ zawsze zostanie przekonwertowany na float

In [ ]:
A + 3

array([6, 4, 7, 5])

In [ ]:
2 * A

array([6, 2, 8, 4])

In [ ]:
A + 3*B

array([12, -2, 13,  8])

biblioteka numpy zawierta również specjalną metodę do wykonywania takich działań - add, subtract, (odejmowanie tablic), multiply (mnożenie tablic), divide (dzielenie tablic)

In [ ]:
np.add(A,B)

array([6, 0, 7, 4])

In [ ]:
np.subtract(A,B)

array([0, 2, 1, 0])

In [ ]:
np.multiply(A,B)

array([ 9, -1, 12,  4])

In [ ]:
np.divide(A,B)

array([ 1.        , -1.        ,  1.33333333,  1.        ])

mnożenie macierzy, które budujemy dzięki bibliotece numpy
dodanie linii odstępu poniżej mięszy printem elementów x i y -> '\n'

In [ ]:
x = np.array([[1,3],[-2,0]])
y = np.array([[6,0],[-1,2]])
print(x, '\n')
print(y)

[[ 1  3]
 [-2  0]]

[[ 6  0]
 [-1  2]]

In [ ]:
x * y

array([[6, 0],
       [2, 0]])

a)  w takim przypadku, żeby wykonać poprawne mnożenie macierzy kwadrawtowej należy wykorzysatć funkcję dot

In [ ]:
np.dot(x, y)

array([[  3,   6],
       [-12,   0]])

b) tę samą funkcję można zapisać jeszcze w inny sposób

In [ ]:
x.dot(y)

array([[  3,   6],
       [-12,   0]])

podsatwową własnością mnożenia macierzowego jest jego nieprzemienność, zaczynając od tabeli y uzyskamy zupełnie inne wyniki

In [ ]:
y.dot(x)

array([[ 6, 18],
       [-5, -3]])

c) lub przy pomocy symbolu @

In [ ]:
x @ y

array([[  3,   6],
       [-12,   0]])

GENEROWANIE LICZB PSEUDOLOSOWYCH

na początek ustawiamy ziarno losowania, tak żeby za każdym razem uzyskać taki sam wynik

In [ ]:
np.random.seed(0)

randn zwróci losową wartość z rozkładu normalnego

In [ ]:
np.random.randn()

1.764052345967664

jeżeli jako parametr funkcji randn przekażemy 10, otrzymamy 10 losowo wygenerowanych elementów z rozkładu normalnego standardowego o śreniej 0 i odchyleniu standarndowym 1

In [ ]:
np.random.randn(10)

array([ 0.40015721,  0.97873798,  2.2408932 ,  1.86755799, -0.97727788,
        0.95008842, -0.15135721, -0.10321885,  0.4105985 ,  0.14404357])

In [ ]:
np.random.randn(10, 4)

array([[ 1.45427351,  0.76103773,  0.12167502,  0.44386323],
       [ 0.33367433,  1.49407907, -0.20515826,  0.3130677 ],
       [-0.85409574, -2.55298982,  0.6536186 ,  0.8644362 ],
       [-0.74216502,  2.26975462, -1.45436567,  0.04575852],
       [-0.18718385,  1.53277921,  1.46935877,  0.15494743],
       [ 0.37816252, -0.88778575, -1.98079647, -0.34791215],
       [ 0.15634897,  1.23029068,  1.20237985, -0.38732682],
       [-0.30230275, -1.04855297, -1.42001794, -1.70627019],
       [ 1.9507754 , -0.50965218, -0.4380743 , -1.25279536],
       [ 0.77749036, -1.61389785, -0.21274028, -0.89546656]])

rozkład jesdnostajny na przedziale - wartość losowa z przedziału 0-1

In [ ]:
np.random.rand()

0.1965823616800535

In [ ]:
np.random.rand(10)

array([0.36872517, 0.82099323, 0.09710128, 0.83794491, 0.09609841,
       0.97645947, 0.4686512 , 0.97676109, 0.60484552, 0.73926358])

In [ ]:
np.random.rand(10, 2)

array([[0.03918779, 0.28280696],
       [0.12019656, 0.2961402 ],
       [0.11872772, 0.31798318],
       [0.41426299, 0.0641475 ],
       [0.69247212, 0.56660145],
       [0.26538949, 0.52324805],
       [0.09394051, 0.5759465 ],
       [0.9292962 , 0.31856895],
       [0.66741038, 0.13179786],
       [0.7163272 , 0.28940609]])

funkcja randint o przykładowej wartości 10 zwraca liczbę całokwitą mniejszą od 10 ale również nieujemną

In [ ]:
np.random.randint(10)

3

w przypadku tej funkcji możemy podać parametr początkowy low i końcowy high

In [ ]:
np.random.randint(low = 10, high = 100)

56

funkcja randint pozwala nam również na określenie rozmiaru generowanych danych

In [ ]:
np.random.randint(low  = 10, high = 100, size = 10)

array([52, 66, 70, 87, 40, 34, 12, 13, 23, 50])

moduł random zawiera również funkcję choice, funkcja losowo wybierze element z przekazanej listy

In [ ]:
np.random.choice([4, 2, 1, 3, 5])

np.int64(4)

funkcja zadziała również na wartościach tekstowych

In [ ]:
np.random.choice(['python', 'java', 'sql'])

np.str_('python')

In [ ]:
data = np.arange(10)
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

jeżeli chcemy przetasować nasze dane przy pomocy funkcji shuffle

In [ ]:
np.random.shuffle(data)
data

array([1, 0, 5, 2, 9, 7, 4, 6, 8, 3])

!ważne! w bibliotece pandas taką zmianę trzeby by przypisać do nowej zmiennej; tutaj w nunmpy zachodzu ona bezpośrednio na obiekcie

PODSTAWOWE FUNKCJE

1) exp (exponent) - stała eulera

In [ ]:
np.exp(1)

np.float64(2.718281828459045)

2) sqrt - obliczneie pierwiastka kwadratowego z przekazanej liczny

In [ ]:
np.sqrt(9)

np.float64(3.0)

3) funkcje logicze
all - sprawdza czy wszystkie elementy listy zwracają wartość logiczną true, jeżeli nie pasuje choćby jeden element zwrócone zostanie false

In [ ]:
np.all([2, 3, 1])

np.True_

In [ ]:
np.all([2, 3, 0])

np.False_

4. funkcja any sprawdza czy jakakowliek wartość = true

In [ ]:
np.any([0, 0, 0])

np.False_

In [ ]:
np.any([2, 3, 0])

np.True_

zakadamy że jest to prawdopodobieństwo otrzymania poszczególnej klasy dla danej próbki

In [ ]:
A = np.random.rand(5)
A

array([0.4287687 , 0.13547406, 0.29828233, 0.56996491, 0.59087276])

5) argmax - funkcja która wyciągnie nam indeks wartości największej

In [ ]:
np.argmax(A)

np.int64(4)

jeżeli chcemy wyciąć tę wartość możemy zrobić to w ten sposób:

In [ ]:
A[np.argmax(A)]

np.float64(0.5908727612481732)

6. argmin - posiadamy również funcję odwrotną argmin

In [ ]:
np.argmin(A)

np.int64(1)

7. argsort - zwróci kolejność indeksów tablicy zawierające wartości od najmniejszej do największej

In [ ]:
np.argsort(A)

array([1, 2, 0, 3, 4])

In [ ]:
np.max(A)

np.float64(0.5908727612481732)

In [ ]:
np.min(A)

np.float64(0.13547406422245023)

8) median - mediana i odchylenie standardowe std

In [ ]:
np.median(A)

np.float64(0.42876870094576613)

In [ ]:
np.std(A)

np.float64(0.17109027569240406)

INDEKSOWANIE I WYCINANIE TABLIC

indeksowanie - wycinanie i indeksowanie jest bardzo podobne do list w pythonie, podajemy wycunanie jaki nawias kwadratowy oraz paramaetry, indeks który chcemy wyciąć lub przedział w postaci indeku startowego i końcowego:
A[idx]
A[start:stop]
A[:stop] - wszystkie wartości do określonego indeksu
A[start:] - wszystkie wartości od określonego indeksu

In [3]:
A = np.arange(20)
A

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [4]:
A[2]

np.int64(2)

In [5]:
A[2:]

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [6]:
A[:2]

array([0, 1])

In [7]:
A[[0,2]]

array([0, 2])

indeksowanie możemy przekazywać również licząc od końca przy pomocy liczb ujemnych

In [8]:
A[-1]

np.int64(19)

In [ ]:
A[10:15]

array([10, 11, 12, 13, 14])

przekształcenie tablicy metodą reshape - wymiarów 4/5

In [9]:
A = A.reshape(4,5)
A

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

jeżeli chcemy wyciąć konkretny wiersz przekazujemy jeden parametr np A[0]

In [10]:
A[0]

array([0, 1, 2, 3, 4])

jeżeli chcemy wyciąć kolumnę interesuje nas drugi parametr podany po dwukropku i przecinku A[:,0]

In [11]:
A[:,0]

array([ 0,  5, 10, 15])

In [12]:
A[:,-1]

array([ 4,  9, 14, 19])

jeżeli chcemu wyciąć konkretny element podajemy jego 'współrzędne'

In [13]:
A[1,1]

np.int64(6)

jeżeli chcemy wyciąć fragemt tablicy podajwemy przedziały - !ważne! przedziały domykające nie zostaną uwzględnione
, czyli ani wiersz o indeksie 3 ani kolumna o indeksie 4 nie znajdą się w wynikach

In [14]:
A[1:3,1:4]

array([[ 6,  7,  8],
       [11, 12, 13]])

przypisywanie nowych wartości również może odbywać się poprzez indeksowanie

In [15]:
A[1, 2] = 14
A

array([[ 0,  1,  2,  3,  4],
       [ 5,  6, 14,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

powyżej poprzednia wartość 7 została zamieniona na 14

ITERACJA PO TABLICACH, ZMIANA ROZMIARU ORAZ MASKI LOGICZNE

In [1]:
import numpy as np

In [16]:
for row in A:
  print(row)

[0 1 2 3 4]
[ 5  6 14  8  9]
[10 11 12 13 14]
[15 16 17 18 19]

powyżej pętla iterująca każdy wiersz tabeli A jeżeli chcemy zwrócić konkretny element możemy wyprintować np indeks 0 z każdego wiersza:

In [17]:
for row in A:
  print(row[0])

0
5
10
15

możemy także przekazać trzy pierwsze indeksy wiersza wtedy:

In [18]:
for row in A:
  print(row[:3])

[0 1 2]
[ 5  6 14]
[10 11 12]
[15 16 17]

możemy iterować po każdym elemencie używając specjalnego atrybuty flat

In [20]:
for item in A.flat:
  print(item)

0
1
2
3
4
5
6
14
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
A

array([[ 0,  1,  2,  3,  4],
       [ 5,  6, 14,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [22]:
A.shape

(4, 5)

zmiana rozmiaru tablic metodą reshape

In [23]:
A.reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6, 14],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

czasami potrzebujemy jednak użyć metody ravel, która wypłaszczy nasze dane

In [24]:
A.ravel()

array([ 0,  1,  2,  3,  4,  5,  6, 14,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

transpozycja tabeli odbywa się tak samo jak transpozycja macierzy -> kolumny zamieniają swoją pozycję z wierszami

---

In [25]:
A.T

array([[ 0,  5, 10, 15],
       [ 1,  6, 11, 16],
       [ 2, 14, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19]])

maski logiczne

In [28]:
A = np.arange(start=-10, stop=10, step=0.5)
A = A.reshape(10,-1)
A

array([[-10. ,  -9.5,  -9. ,  -8.5],
       [ -8. ,  -7.5,  -7. ,  -6.5],
       [ -6. ,  -5.5,  -5. ,  -4.5],
       [ -4. ,  -3.5,  -3. ,  -2.5],
       [ -2. ,  -1.5,  -1. ,  -0.5],
       [  0. ,   0.5,   1. ,   1.5],
       [  2. ,   2.5,   3. ,   3.5],
       [  4. ,   4.5,   5. ,   5.5],
       [  6. ,   6.5,   7. ,   7.5],
       [  8. ,   8.5,   9. ,   9.5]])

maski logiczne służą np do identyfikacji wartości ujmenych i wycięcia ich z tablicy

In [29]:
A >0

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [30]:
A[A>0]

array([0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5,
       7. , 7.5, 8. , 8.5, 9. , 9.5])

możemy łączyć ze sobą dwa warunki np. wartości większe id -5 i mniejsze od 5, nie możemy tego jednak zrobić w formie A[A>-5 and A<5] numpy zwróci nam błąd, poprawna metoda poniżej:

In [31]:
np.bitwise_and(A > -5, A < 5)

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True, False, False],
       [False, False, False, False],
       [False, False, False, False]])

funkcja zwróci nam maskę logiczną, prawda w miejscu gdy oba warunki są spęlnione, dzięku tej masce jesteśmy w stanie wyciąć elementy z przedziały -5 do 5:

In [32]:
A[np.bitwise_and(A > -5, A < 5)]

array([-4.5, -4. , -3.5, -3. , -2.5, -2. , -1.5, -1. , -0.5,  0. ,  0.5,
        1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5])

alternatywą dla bitwise_and będzie bitwise_or -> warunek prawda jeżeli wartości są mniejsze od -5 lub większe od 5:

In [33]:
np.bitwise_or(A < -5, A > 5)

array([[ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [34]:
A[np.bitwise_or(A < -5, A > 5)]

array([-10. ,  -9.5,  -9. ,  -8.5,  -8. ,  -7.5,  -7. ,  -6.5,  -6. ,
        -5.5,   5.5,   6. ,   6.5,   7. ,   7.5,   8. ,   8.5,   9. ,
         9.5])